.footer-wrapper {
    
    .socials {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        
        .social {
            img {
                width: 35px;
                cursor: pointer;
            }
        }
    }
    p {
        margin-bottom: 15px;
    };
}