.hero-wrapper {
    padding-top: 30%;
    text-align: left;
    margin: 0 auto;
    color: #151515;
    height: 100vh;

    h1 {
        font-size: 120px;
        line-height: 100%;
        margin-bottom: 30px;

        span {
            color: $yellow;
        }
    }
    h2 {
        font-size: 30px;
        color: #151515;
        border: 1px solid #151515;
        padding: 4px 10px;
        display: flex;
        width: max-content;
        margin-bottom: 20px;
        background: $yellow;
    }
    p {
        font-size: 25px;
        margin-bottom: 40px;
        line-height: 160%;
    }
}

// RESPONSIVE
@media (max-width: 800px) {
    .hero-wrapper {
        padding-top: 50%;

        h1 {
            font-size: 70px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
            line-height: 140%;
        }
    }
}
@media (max-width: 600px) {
    .hero-wrapper {
        padding-top: 50%;

        h1 {
            font-size: 55px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
            line-height: 140%;
        }
    }
}