.nav-item {
    list-style-type: none;

    &:not(:last-child) {
      margin-right: 20px;
    }

  a {
    text-decoration: none;
    color: #333;
    font-size: 18px;

    &:hover {
      color: $yellow;
      transition: .3s all;
    }
  }
}

//---------------RESPONSIVE

@media (max-width: 600px) {
.nav-item {
  font-size: 1px;
}
}